In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
schema = ['uid','device','song_id','song_type','song_name','singer','play_time','song_length','paid_flag','file_name','label', 'date']

In [3]:
df_play = pd.read_csv('/Users/ZhijingYe/Desktop/data/output/play_sample_log.csv',
                 delimiter='\t',index_col=False,
                 dtype = {'uid':'str', 'song_id':'str','song_type' : 'str'})

/Users/ZhijingYe/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1159: DtypeWarning: Columns (9,10,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
df_play.head()

,Unnamed: 0,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag,file_name,label,date
0,0,0,168308107,ar,162455,0,最初的梦想,范玮琪,296,296,0,20170410_2_play.log,0,20170410
1,1,1,168112765,ar,4393501,0,喜欢你(f101 粤),Beyond,272,0,0,20170410_2_play.log,0,20170410
2,2,2,168274411,ar,22833011,0,宽恕,宽恕乐队,24,156,0,20170410_2_play.log,0,20170410
3,3,3,0,ar,4266814,1,天使的翅膀,徐誉滕,214384,0,0,20170410_2_play.log,0,20170410
4,4,4,168274411,ar,176292,0,爱不爱我,零点乐队,333,334,0,20170410_2_play.log,0,20170410

In [5]:
df_play = df_play.drop(df_play.columns[0], axis=1)
df_play.head()

,index,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag,file_name,label,date
0,0,168308107,ar,162455,0,最初的梦想,范玮琪,296,296,0,20170410_2_play.log,0,20170410
1,1,168112765,ar,4393501,0,喜欢你(f101 粤),Beyond,272,0,0,20170410_2_play.log,0,20170410
2,2,168274411,ar,22833011,0,宽恕,宽恕乐队,24,156,0,20170410_2_play.log,0,20170410
3,3,0,ar,4266814,1,天使的翅膀,徐誉滕,214384,0,0,20170410_2_play.log,0,20170410
4,4,168274411,ar,176292,0,爱不爱我,零点乐队,333,334,0,20170410_2_play.log,0,20170410

In [6]:
df_play = df_play.drop(df_play.columns[0], axis=1)
df_play.head()

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag,file_name,label,date
0,168308107,ar,162455,0,最初的梦想,范玮琪,296,296,0,20170410_2_play.log,0,20170410
1,168112765,ar,4393501,0,喜欢你(f101 粤),Beyond,272,0,0,20170410_2_play.log,0,20170410
2,168274411,ar,22833011,0,宽恕,宽恕乐队,24,156,0,20170410_2_play.log,0,20170410
3,0,ar,4266814,1,天使的翅膀,徐誉滕,214384,0,0,20170410_2_play.log,0,20170410
4,168274411,ar,176292,0,爱不爱我,零点乐队,333,334,0,20170410_2_play.log,0,20170410

In [7]:
df_play.isnull().sum(axis = 0)

uid                0
device             0
song_id            0
song_type          0
song_name        205
singer         37715
play_time          0
song_length        0
paid_flag          0
file_name          0
label              0
date               0
dtype: int64

### 1. file_name and paid_flag
First drop file_name and paid_flag columns. 

(a) there is a column 'date' contains log date information <br>
(b) In data cleaning file, we noticed there is no real paid users so this columns can be dropped

In [8]:
df_play = df_play.drop(['paid_flag', 'file_name'], axis=1)

In [9]:
df_play.head()

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date
0,168308107,ar,162455,0,最初的梦想,范玮琪,296,296,0,20170410
1,168112765,ar,4393501,0,喜欢你(f101 粤),Beyond,272,0,0,20170410
2,168274411,ar,22833011,0,宽恕,宽恕乐队,24,156,0,20170410
3,0,ar,4266814,1,天使的翅膀,徐誉滕,214384,0,0,20170410
4,168274411,ar,176292,0,爱不爱我,零点乐队,333,334,0,20170410

In [10]:
df_play.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39492326 entries, 0 to 39492325
Data columns (total 10 columns):
uid            object
device         object
song_id        object
song_type      object
song_name      object
singer         object
play_time      object
song_length    object
label          object
date           object
dtypes: object(10)
memory usage: 3.2+ GB

### 2. uid

In [11]:
df_play.uid.value_counts()

1685126      7539141
751824       4409667
0            1158075
1679121       480214
32166203      141050
16517426       73648
1791497        33003
168353633      31528
45365429       24726
168930795      22000
168511018      18451
168778891      17915
168458969      17540
168680315      17224
168884001      16927
...
168567540     1
168446265     1
168589266     1
168739286     1
168770296     1
154513544     1
167684079     1
168874875     1
154656556     1
168974365     1
154735788     1
167759192     1
168827374     1
168797163     1
168374791     1
Length: 150866, dtype: int64

#### There are some users have way more than usual number of logs.
#### Say one log takes one min, there are 24*60 = 1440 mins per day. Thoes uses have more than 1440 logs per date should be robots.

In [12]:
res = df_play[['uid','date','song_id']].groupby(['uid','date']).count().rename(columns={'song_id': 'count'})

In [13]:
res.reset_index()

              uid      date  count
0               0         0     50
1               0  20170330   3132
2               0  20170331  12003
3               0  20170401  16158
4               0  20170402  21429
5               0  20170403  10973
6               0  20170404  17208
7               0  20170405  13773
8               0  20170406  13878
9               0  20170407  12765
10              0  20170408  14886
11              0  20170409  13893
12              0  20170410  14406
13              0  20170411  20754
14              0  20170412  75285
15              0  20170413  59274
16              0  20170414  31275
17              0  20170415  53163
18              0  20170416  35082
19              0  20170417  34032
20              0  20170418  33216
21              0  20170419  31197
22              0  20170420  26922
23              0  20170421  32214
24              0  20170422  34146
25              0  20170423  38619
26              0  20170424  15894
27              0  20170425  30525
28              0  20170426  27135
29              0  20170427  29582
...           ...       ...    ...
969677   99387196  20170508      6
969678   99387196  20170512      2
969679  99560754   20170339     49
969680   9963002   20170301      3
969681  99633829   20170301      5
969682  99633829   20170302     44
969683  99633829   20170303     31
969684  99633829   20170305    133
969685  99633829   20170307     26
969686  99633829   20170308     82
969687  99633829   20170309     12
969688   99689252  20170331    134
969689   99689252  20170401     10
969690   99689252  20170403     15
969691   99689252  20170420      2
969692   99689252  20170425      1
969693   99725077  20170330     12
969694   99725077  20170401     12
969695   99725077  20170405      1
969696   99725077  20170406      1
969697   99725077  20170423      2
969698  99983627   20170301      9
969699  99983627   20170303     11
969700  99983627   20170304     46
969701  99983627   20170305     53
969702  99983627   20170306      8
969703  99983627   20170307      7
969704  99983627   20170308      9
969705  99983627   20170309     16
969706  99995513   20170339      1

[969707 rows x 3 columns]

In [14]:
res2 = res.reset_index()

In [15]:
res22 = res2.loc[res2.uid>0]

In [16]:
res22.head(10)

  uid      date  count
0   0         0     50
1   0  20170330   3132
2   0  20170331  12003
3   0  20170401  16158
4   0  20170402  21429
5   0  20170403  10973
6   0  20170404  17208
7   0  20170405  13773
8   0  20170406  13878
9   0  20170407  12765

In [17]:
#res1 = df_play.loc[df_play.uid > 0]

In [18]:
#res1.head(10)

In [19]:
#res.head(20)

In [20]:
#res1.tail(10)

In [21]:
res_agg = res22.groupby('uid')['count'].agg(['sum','count'])

In [22]:
res_agg.head()

               sum  count
uid
0          1158075     45
100052111      112      1
100107633        4      1
100223381       16      2
100581940       20      1

In [23]:
res_agg['avg_logs'] = res_agg['sum']/res_agg['count']

In [24]:
res_agg.head()

               sum  count  avg_logs
uid
0          1158075     45     25735
100052111      112      1       112
100107633        4      1         4
100223381       16      2         8
100581940       20      1        20

In [25]:
uid_robot = res_agg[res_agg['avg_logs'] > 1440].index

In [26]:
uid_robot

Index([u'0', u'154492987 ', u'16517426', u'1679121', u'168341300', u'1685126', u'168813477', u'1791497 ', u'32166203', u'46532274 ', u'751824'], dtype='object')

In [27]:
uid_robot = set(uid_robot)

In [28]:
uid_robot

{'0',
 '154492987 ',
 '16517426',
 '1679121',
 '168341300',
 '1685126',
 '168813477',
 '1791497 ',
 '32166203',
 '46532274 ',
 '751824'}

In [29]:
# Remove those suspecious robot users
df_play = df_play[~df_play['uid'].isin(uid_robot)]

In [30]:
df_play.shape

(25632738, 10)

In [31]:
del res22, res_agg

### 3. Device type was already taken care in data cleansing step.

In [32]:
df_play.device.value_counts()

ar           21250314
ip            4382423
168589573           1
dtype: int64

### 4. Date

In [33]:
df_play.groupby('date').size()

date
0               525
91                1
238               2
239               4
260              10
20170301     655949
20170302     446743
20170303     338692
20170304     292540
20170305     272102
20170306     236153
20170307     223694
20170308     210110
20170309     200251
20170330     893817
20170331    1244567
20170339     372350
20170401     998193
20170402     902918
20170403     514446
20170404     751377
20170405     646781
20170406     651936
20170407     645207
20170408     626827
20170409     624127
20170410     602120
20170411     359220
20170412     544443
20170413     529192
20170414     362888
20170415     535293
20170416     527866
20170417     485270
20170418     475435
20170419     466004
20170420     459969
20170421     459894
20170422     467222
20170423     459791
20170424     230999
20170425     422062
20170426     412376
20170427     460912
20170428     405889
20170429     419923
20170430     413245
20170501     396225
20170502     358705
20170503     365573
20170504     359843
20170505     351989
20170506     376023
20170507     376068
20170508     352797
20170509     354630
20170510     354877
20170511     351442
20170512     350049
20170410      35182
Length: 60, dtype: int64

#### Convert date to string and remove the three outlier: 0, 168, 169, 238, 260

In [34]:
filter_date = set([0, 168, 169, 238, 260])

In [35]:
df_play = df_play[~df_play['date'].isin(filter_date)]

In [36]:
df_play['date'] = df_play['date'].astype('string')

In [37]:
df_play[['date']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25632201 entries, 0 to 39492325
Data columns (total 1 columns):
date    object
dtypes: object(1)
memory usage: 391.1+ MB

In [38]:
# Check the churn rate for different date
df_play.groupby(['date','label']).size()

date      label
20170301  1.0      310923
          1        230991
          1.0      114035
20170302  1.0      339748
          1         77589
          1.0       29406
20170303  1.0      183144
          1        148588
          1.0        6960
20170304  1.0      183745
          1         77770
          1.0       31025
20170305  1.0       88409
          1        156555
          1.0       27138
...
20170508  0.0       48319
20170509  0.0      111004
          0        218403
          0.0       25223
20170510  0.0      161909
          0        170810
          0.0       22158
20170511  0.0      194080
          0        141738
          0.0       15624
20170512  0.0      227654
          0         48534
          0.0       73861
239       0.0           4
91        186.0         1
Length: 227, dtype: int64

#### 5. Song type

In [39]:
df_play.song_type.unique()

array(['0', '1', '2', '3', '0 ', '1 ', '2 ', '3 ', ' ',
       '(112.12.76.97)TM ', '(110.187.207.110)TM ', '0(117.148.124.79)TM ',
       '(117.149.87.208)TM ', '(39.183.144.65)TM ',
       '0(117.174.249.184)TM ', '(111.75.125.50)TM ',
       '2(117.87.25.173)TM ', '(39.187.201.177)TM ', '0(111.19.79.220)TM ',
       '0(111.19.112.144)TM ', '0(117.68.67.125)TM ', '(42.243.53.92)TM ',
       '(39.183.142.100)TM ', '0(101.27.25.233)TM ', '(111.2.101.131)TM ',
       '0(39.189.228.228)TM ', '(223.94.194.28)TM ', '0(223.94.194.28)TM ',
       '(112.11.81.170)TM ', '0(112.11.206.111)TM ', '(112.12.40.255)TM ',
       '1(39.187.201.186)TM ', '(39.187.201.133)TM ',
       '0(111.19.79.127)TM ', '0(112.11.85.53)TM ', '0(113.238.231.29)TM ',
       '(39.174.89.218)TM ', '(112.11.206.128)TM ', '0(112.11.206.128)TM ',
       '0(39.183.144.51)TM ', '(223.94.196.10)TM ', '(112.12.41.169)TM ',
       '0(117.173.98.18)TM ', '0(182.246.211.72)TM ',
       '0(39.186.100.19)TM ', '0(39.183.144.111)TM ', '0(39.174.92.81)TM ',
       '(106.58.134.120)TM ', '(220.178.220.207)TM ', '0(112.11.3.219)TM ',
       '1(222.87.59.40)TM ', '(222.87.59.40)TM ', '0(111.19.78.128)TM ',
       '(117.149.49.16)TM ', '0(112.115.30.92)TM ', '(112.115.30.92)TM ',
       '0(39.183.145.157)TM ', '(123.188.231.166)TM ',
       '0(39.187.200.208)TM ', '0(39.189.229.9)TM ', '(39.183.145.67)TM ',
       '0(111.19.78.47)TM '], dtype=object)

In [40]:
df_play.song_type = df_play.song_type.apply(lambda x: str(x).split('(')[0].rstrip())

In [41]:
df_play.song_type.value_counts()

0    23090972
1     2306575
2      220015
         9931
3        4708
dtype: int64

In [42]:
# There are some missing values in song_type, impute with most common song_type 0
df_play.loc[df_play['song_type'] == '',['song_type']] = '0'

In [43]:
df_play.song_type.value_counts()

0    23100903
1     2306575
2      220015
3        4708
dtype: int64

#### 6. Label

In [44]:
df_play.label.value_counts()

0        9141078
0.0      8300828
1.0      3244407
1        2591912
0.0      1734954
1.0       619021
186.0          1
dtype: int64

In [45]:
# Convert label to int
df_play['label'] = df_play['label'].apply(lambda x: str(x).split('.')[0])

In [46]:
df_play.label.value_counts()

0      19176860
1       6455340
186           1
dtype: int64

#### 7. Play time

play_time are strings. Some are has '>' in it. Split with '>' and keep only the part in front of '>'. 

Then, change the type to float

In [47]:
df_play.play_time.value_counts()

0      4334764
1       667976
0       486240
2       414224
3       300941
4       258415
5       205439
6       152632
7       130188
199     126478
249     122184
8       113005
231     111796
230     107546
248     106514
...
31118                       1
7>}(106.112.150.239)TM     1
130>(120.192.27.7)TM        1
53>=(117.135.227.169)TM     1
4>=(123.132.144.219)TM      1
4117                        1
390678                      1
23719                       1
0>=(119.125.76.233)TM       1
39067                       1
237198                      1
139055                      1
290259                      1
109.309070777               1
287144                      1
Length: 244472, dtype: int64

In [48]:
df_play['play_time'] = df_play['play_time'].astype('string').apply(lambda x: x.split('>')[0])
df_play.play_time.value_counts()

0      4350238
1       671876
0       486240
2       417428
3       303832
4       270279
5       239641
6       155150
7       131263
199     126594
249     122230
8       113857
231     111875
230     107613
248     106561
...
151696          1
108085          1
40113           1
0.057998138     1
42.156327242    1
69574           1
119887          1
17527           1
17525           1
162587          1
283699          1
93147           1
152288          1
152283          1
287144          1
Length: 158371, dtype: int64

In [49]:
df_play['play_time'] = df_play['play_time'].convert_objects(convert_numeric= True)

In [50]:
df_play[['play_time']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25632201 entries, 0 to 39492325
Data columns (total 1 columns):
play_time    float64
dtypes: float64(1)
memory usage: 391.1 MB

#### 8. Song_id
song_id should be an integer or a string of numbers without decimal

The corner case is where song_id == '0'. There are more than 500k logs with '0' as song_id, but they 
are actually different songs:

    Some songs have '0' and another song_id

    Some songs only have '0' as song_id

song_id imputation:

    1) change the song_id to its most frequent appeared values, if there is value other than '0'

    2) if it doesn't have another song_id, create new song_ids.

What is needed is a {(song_name, singer, song_type):song_id} dictionary.

In [51]:
df_play.song_id = df_play.song_id.apply(lambda x: x.split('.')[0].rstrip())

In [52]:
df_play.loc[df_play.song_id == '0']

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date
38,168412166,ar,0,1,答案,杨坤,201,201,0,20170410
39,168060257,ar,0,1,小虾米 - 爱要逃(Live版),未知歌手,216,217,0,20170410
41,168429120,ar,0,1,离别,阿杜,229,230,0,20170410
49,168202184,ar,0,1,爸爸妈妈,彭芳,268,268,0,20170410
82,168412166,ar,0,1,答案 (Live),杨坤/郭采洁,200,201,0,20170410
101,168060257,ar,0,1,云菲菲 - 殇雪,未知歌手,284,284,0,20170410
106,168429120,ar,0,1,美丽的神话(《神话》主题曲),孙楠,290,289,0,20170410
112,168202184,ar,0,1,爸爸妈妈,彭芳,269,268,0,20170410
114,168508621,ar,0,1,冰河时代、Dj、舞曲 - 电子舞曲,未知歌手,188,188,0,20170410
122,168060257,ar,0,1,爸爸妈妈,次仁旺堆,76,76,0,20170410
146,168412166,ar,0,1,带感越鼓（3D全景）-7妹+小可,7妹,283,284,0,20170410
181,168202184,ar,0,1,爸爸妈妈,彭芳,267,268,0,20170410
186,168060257,ar,0,1,错爱,刘转亮,233,262,0,20170410
187,168060257,ar,0,1,海生 - 情一动心就痛,未知歌手,0,232,0,20170410
238,168202184,ar,0,1,爸爸妈妈,彭芳,85,268,0,20170410
239,168202184,ar,0,1,爸爸妈妈,彭芳,85,268,0,20170410
254,168448096,ar,0,1,爱情促进,未知歌手,3767,3766,0,20170410
318,168259730,ar,0,1,不做你幸福的玫瑰,红月,260,294,0,20170410
416,168408593,ar,0,1,铃声多多_Delacey - Dream It Possible_许彦龙,未知歌手,165,165,0,20170410
506,168408593,ar,0,1,铃声多多_Es Rappelt Im Karton 好听的英文歌_Pixie Paris,未知歌手,204,204,0,20170410
556,168408593,ar,0,1,铃声多多_Flo Rida、Pitbull - Cant Believe it_Yg,未知歌手,112,113,0,20170410
573,168408593,ar,0,1,铃声多多_GALA-Young For You(年轻) - 没错，这是中式英伦摇滚_GALA,未知歌手,65,65,0,20170410
590,168408593,ar,0,1,铃声多多_Gianni Kosta Belle - Sirius_AIA,未知歌手,60,61,0,20170410
644,168508621,ar,0,1,冰河时代、Dj、舞曲 - 电子舞曲,未知歌手,188,188,0,20170410
664,168408593,ar,0,1,铃声多多_Honey Cocaine - Gwola_琛阿琛.,未知歌手,226,226,0,20170410
678,168408593,ar,0,1,铃声多多_I Am You - 英文女生声音很舒服铃声_网友上传,未知歌手,63,63,0,20170410
692,168408593,ar,0,1,铃声多多_I m Just A Little Bit Shy - 很好听的英文歌_Natas...,未知歌手,61,61,0,20170410
716,168408593,ar,0,1,铃声多多_Jai Waetford - Shy 超好听_超好听的哦 。。,未知歌手,86,86,0,20170410
777,168408593,ar,0,1,铃声多多_Kait Weston - I Just Wanna Run_野性酷女,未知歌手,189,189,0,20170410
817,168408593,ar,0,1,铃声多多_Martin Tungevaag - Samsara 2016_Dj筱宇,未知歌手,146,147,0,20170410
...,...,...,...,...,...,...,...,...,...,...
39488845,168471314,ar,0,1,等爱的人,未知歌手,35,304,0,20170429
39489020,168471314,ar,0,1,Right+Here+Waiting,Richard+Marx(理查德+马克思),49,264,0,20170429
39489057,168160011,ar,0,1,A Little Forgiveness,Christopher,207,227,0,20170429
39489061,168160011,ar,0,1,Call Your Girlfriend,Christopher,0,152,0,20170429
39489245,168059443,ar,0,1,薛之谦 - 刚刚好,未知歌手,145,250,0,20170429
39489760,168162099,ar,0,1,Over the Horizon,Samsung,229,230,0,20170429
39489785,168471314,ar,0,1,03 我可以抱你吗,未知歌手,230,232,0,20170429
39489829,168160011,ar,0,1,闹够了没有,赖伟锋,238,238,0,20170429
39489880,168362833,ar,0,1,G.E.M.邓紫棋 - 喜欢你,未知歌手,238,239,0,20170429
39489905,168398789,ar,0,1,我只在乎你 (国语),邓丽君,210,252,0,20170429
39489921,168248860,ar,0,1,马旭东 - 入戏太深,未知歌手,60,226,0,20170429
39490317,168324382,ar,0,1,挪威的森林,伍佰 & China Blue,14,223,0,20170429
39490338,168138067,ar,0,1,饿狼传说,毒药,169,169,0,20170429
39490424,168471314,ar,0,1,03.忽然之间,未知歌手,200,202,0,20170429
39490557,168162099,ar,0,1,Over the Horizon,Samsung,229,230,0,20170429
39490604,168160011,ar,0,1,Twerk It Like Miley,Brandon Beal,19,208,0,20170429
39490715,168471314,ar,0,1,04 苹果,未知歌手,123,274,0,20170429
39490724,168362833,ar,0,1,郝云 - 活着 - 2014光荣绽放十大中文金曲演唱会,未知歌手,365,366,0,20170429
39490748,168517386,ar,0,1,一瞬间,丽江小倩,186,187,0,20170429
39490864,168471314,ar,0,1,12 BOTH SIDES NOW,未知歌手,61,304,0,20170429
39490866,168138067,ar,0,1,凡人歌,毒药,224,225,0,20170429
39491183,168362833,ar,0,1,黄勇 - 男人花,未知歌手,310,310,0,20170429
39491218,168120337,ar,0,1,我不后悔,郑源,224,251,0,20170429
39491222,168162099,ar,0,1,Over the Horizon,Samsung,229,230,0,20170429
39491449,168138067,ar,0,1,风中舞,夏沐草乐队,271,271,0,20170429
39491819,168162099,ar,0,1,Over the Horizon,Samsung,229,230,0,20170429
39491884,168324382,ar,0,1,练习 (Live),刘德华,280,280,0,20170429
39492034,168138067,ar,0,1,刚刚好,薛之谦,250,250,0,20170429
39492102,168378478,ar,0,1,就算没有如果,香香,7,305,0,20170429
39492111,168378478,ar,0,1,一个人的情歌,宝蓝,1,208,0,20170429

In [53]:
df_play.groupby(['song_name','singer','song_type']).size().shape

(1098757,)

In [54]:
df_play.groupby(['song_name','singer','song_type','song_id']).size().shape

(1196852,)

Although the combination of ('song_name','singer','song_type') can identify a song without ambiguity, there 
ISN'T an one-to-one mapping from ('song_name','singer','song_type') to 'song_id'.

Find out the duplicated 'song_id's

In [55]:
df_play[['song_name']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25632201 entries, 0 to 39492325
Data columns (total 1 columns):
song_name    object
dtypes: object(1)
memory usage: 391.1+ MB

In [56]:
##df['song_name'] = df['song_name'].astype('str')

In [57]:
# Notice there are some empty spaces as inputs in song_name and singer, strip tailoring spaces
df_play[['song_name', 'singer']] = df_play[['song_name', 'singer']].applymap(lambda x: str(x).rstrip() if str(x) else x)

In [58]:
df_play.isnull().sum(axis = 0)

uid                0
device             0
song_id            0
song_type          0
song_name          0
singer             0
play_time      13794
song_length        0
label              0
date               0
dtype: int64

In [59]:
# Then remove the logs with nan song_name and singer, totally 58 logs
df_play = df_play.loc[df_play.song_name.notnull() & \
                      df_play.singer.notnull()]
df_play.isnull().sum(axis = 0)

uid                0
device             0
song_id            0
song_type          0
song_name          0
singer             0
play_time      13794
song_length        0
label              0
date               0
dtype: int64

In [60]:
# Count number of logs groupped by song_name, singer and song_type 
song_id_groupby_df = df_play[['song_name','singer','song_type','song_id']]\
                        .groupby(['song_name','singer','song_type']).count().rename(columns={'song_id': 'count'})

In [61]:
# make new song_id with the play times rank, where more played song is ranked as 1st.
song_id_groupby_df['song_id_new'] = song_id_groupby_df['count'].rank(method = 'first', ascending = False).astype('int')

In [62]:
song_id_groupby_df.reset_index(inplace = True)

In [63]:
song_id_groupby_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 911029 entries, 0 to 911028
Data columns (total 5 columns):
song_name      911029 non-null object
singer         911029 non-null object
song_type      911029 non-null object
count          911029 non-null int64
song_id_new    911029 non-null int64
dtypes: int64(2), object(3)
memory usage: 41.7+ MB

In [64]:
song_id_groupby_df.head(10)

  song_name               singer song_type  count  song_id_new
0                                        0    998         3405
1                                        1     11       178668
2                                        2     28        90253
3                            2PM         1      2       461704
4                   Adam Lambert         0      1       607636
5                    Kari Kimmel         1      1       607637
6                           MC晓九         1      5       292737
7                           Mc小杨         0      1       607638
8                           Mc小洋         0      1       607639
9            Nur Mahammat Tursun         1      2       461705

In [65]:
song_id_groupby_df.loc[2, 'song_name']

''

In [66]:
# Merge new_song_id to create a new dataframe
df_play_log = pd.merge(df_play, song_id_groupby_df,  how='left', \
                       left_on=['song_name','singer','song_type'], \
                       right_on = ['song_name','singer','song_type'])

In [67]:
df_play_log.head()

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date,count,song_id_new
0,168308107,ar,162455,0,最初的梦想,范玮琪,296,296,0,20170410,3309,816
1,168112765,ar,4393501,0,喜欢你(f101 粤),Beyond,272,0,0,20170410,264,13121
2,168274411,ar,22833011,0,宽恕,宽恕乐队,24,156,0,20170410,16,140473
3,168274411,ar,176292,0,爱不爱我,零点乐队,333,334,0,20170410,2559,1171
4,168274411,ar,22833011,0,宽恕,宽恕乐队,155,156,0,20170410,16,140473

In [68]:
df_play_log.shape, df_play.shape

((25632201, 12), (25632201, 10))

In [69]:
df_play_log['song_id_new'].isnull().sum()

0

In [70]:
# get favorite songs info
popular_songs = df_play_log['song_id_new'].value_counts()[:200].index

popular_songs[100:110]

Int64Index([101, 102, 103, 104, 105, 106, 107, 108, 109, 110], dtype='int64')

In [71]:
# the rarely played songs are also worth examining.
rarely_played = sum(df_play_log['song_id'].value_counts()<2)
rarely_played

225313

In [72]:
rarely_played_songs = df_play_log.song_id_new.value_counts()[-1:-rarely_played-1:-1].index
len(rarely_played_songs)

225313

In [73]:
# searching play log of a certain rare song
df_play_log[df_play_log.song_id_new == rarely_played_songs[0]]

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date,count,song_id_new
2716020,168428214,ar,5198255,0,不想你,唐尼,97,199,0,20170409,1,712349

In [74]:
song_id_groupby_df[song_id_groupby_df.song_id_new == rarely_played_songs[0]]

       song_name singer song_type  count  song_id_new
279635       不想你     唐尼         0      1       712349

### 9.singer

In [75]:
singer_groupby_df = df_play[['singer','song_id']]\
                   .groupby(['singer']).count().rename(columns={'song_id': 'count'})

In [76]:
singer_groupby_df.reset_index(inplace = True)
singer_groupby_df.head()

                 singer  count
0                         8131
1                 伦桑      1
2  ♫°﹎满汉全席丶伦　桑『满汉の歌手』      1
3  ♫°﹎满汉全席丶妄　尘『古风の歌手』      1
4  ♫°﹎满汉全席丶宁采臣『满汉の歌手』      1

In [77]:
singer_groupby_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109640 entries, 0 to 109639
Data columns (total 2 columns):
singer    109640 non-null object
count     109640 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.5+ MB

In [78]:
singer_groupby_df['singer_popularity_rank'] = singer_groupby_df[['count']].rank(method = 'first', ascending = False).astype(int)

In [79]:
singer_groupby_df.head()

                 singer  count  singer_popularity_rank
0                         8131                     486
1                 伦桑      1                   82954
2  ♫°﹎满汉全席丶伦　桑『满汉の歌手』      1                   82955
3  ♫°﹎满汉全席丶妄　尘『古风の歌手』      1                   82956
4  ♫°﹎满汉全席丶宁采臣『满汉の歌手』      1                   82957

In [80]:
# Merge singer_popularity to create a new dataframe
df_play_log = pd.merge(df_play_log, singer_groupby_df,  how='left', \
                       left_on=['singer'], \
                       right_on = ['singer'])

In [81]:
df_play_log.head()

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,label,date,count_x,song_id_new,count_y,singer_popularity_rank
0,168308107,ar,162455,0,最初的梦想,范玮琪,296,296,0,20170410,3309,816,20427,183
1,168112765,ar,4393501,0,喜欢你(f101 粤),Beyond,272,0,0,20170410,264,13121,100771,35
2,168274411,ar,22833011,0,宽恕,宽恕乐队,24,156,0,20170410,16,140473,25,25366
3,168274411,ar,176292,0,爱不爱我,零点乐队,333,334,0,20170410,2559,1171,9263,431
4,168274411,ar,22833011,0,宽恕,宽恕乐队,155,156,0,20170410,16,140473,25,25366

In [82]:
df_play_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25632201 entries, 0 to 25632200
Data columns (total 14 columns):
uid                       object
device                    object
song_id                   object
song_type                 object
song_name                 object
singer                    object
play_time                 float64
song_length               object
label                     object
date                      object
count_x                   int64
song_id_new               int64
count_y                   int64
singer_popularity_rank    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 2.9+ GB

In [83]:
# get favorite songs info
popular_singers = df_play_log['singer_popularity_rank'].value_counts()[:200].index

popular_singers[100:110]

Int64Index([101, 102, 103, 104, 105, 106, 107, 108, 109, 110], dtype='int64')

### reduce the size of the df_play_log
In the following analysis, the original song_id, song_names and singer can be ommitted from the df_play_log, while the only information left is song_id_new, singer_popularity_rank.

In [84]:
df_play_log = df_play_log.drop(['song_name','singer','count_x','count_y'],axis = 1)
df_play_log.head()

,uid,device,song_id,song_type,play_time,song_length,label,date,song_id_new,singer_popularity_rank
0,168308107,ar,162455,0,296,296,0,20170410,816,183
1,168112765,ar,4393501,0,272,0,0,20170410,13121,35
2,168274411,ar,22833011,0,24,156,0,20170410,140473,25366
3,168274411,ar,176292,0,333,334,0,20170410,1171,431
4,168274411,ar,22833011,0,155,156,0,20170410,140473,25366

In [85]:
df_play_log.drop(['song_id'], axis = 1, inplace = True)
df_play_log.head()

,uid,device,song_type,play_time,song_length,label,date,song_id_new,singer_popularity_rank
0,168308107,ar,0,296,296,0,20170410,816,183
1,168112765,ar,0,272,0,0,20170410,13121,35
2,168274411,ar,0,24,156,0,20170410,140473,25366
3,168274411,ar,0,333,334,0,20170410,1171,431
4,168274411,ar,0,155,156,0,20170410,140473,25366

#### Save current data frames

In [86]:
play_file = '/Users/ZhijingYe/Desktop/data/output/reduced_play_log.csv'
df_play_log.to_csv(play_file,sep = '\t', mode = 'a', encoding = 'utf-8')

In [95]:
# also save into .pickle
play_file_pickle = '/Users/ZhijingYe/Desktop/data/output/reduced_play_log.pkl'
df_play_log.to_pickle(play_file_pickle)

In [88]:
# songs
song_file = '/Users/ZhijingYe/Desktop/data/output/songs.csv'
song_id_groupby_df.to_csv(song_file,sep = '\t', mode = 'a')

In [89]:
song_file_pickle = '/Users/ZhijingYe/Desktop/data/output/songs.pkl'
song_id_groupby_df.to_csv(song_file_pickle)

In [90]:
singer_file = '/Users/ZhijingYe/Desktop/data/output/singers.csv'
singer_groupby_df.to_csv(singer_file,sep = '\t', mode = 'a')

In [91]:
singer_file_pickle = '/Users/ZhijingYe/Desktop/data/output/singers.pkl'
singer_groupby_df.to_csv(singer_file_pickle)